{% extends "base.html" %}
{% load static %}

{% block title %}
  Contact 
{% endblock %}

{% block content %}
    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="xlTitle pb-md-3">Contact us below</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="lightBg">
          {% include "resume/partials/contact-form.html" %}
      </div>
    </section>
    <!-- ================================
    End Content
    ================================= -->
    
{% endblock %}